body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  background: linear-gradient(90deg, rgba(209,17,17,1) 0%, rgba(255,175,58,1) 35%, rgba(255,240,39,1) 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: column;
  padding-left: 500px;
  padding-right: 500px;

}

.chart{
  height: 500px;
  width: auto;
}